{% extends "::base.html.twig" %}

{% block title %}
    Modifier une news - Administration
{% endblock %}

{% block css %}
<style>
    .parallax-container {
        margin-bottom: 15px;
    }
    #text-format {
        display: flex;
        flex-wrap: wrap;
    }
    #text-format button {
        margin-right: 10px;
        margin-bottom: 15px;
    }
    @media (min-width: 1201px) {
        .switch label {
            position: relative;
            top: 31px;
        }
    }
</style>
{% endblock %}

{% block content %}

    <div class="row">
        
        <div class="col s12">
            <h4 class="admin-title">Modifier une news</h4>
        </div>

        <div class="col s12">
            <div class="card-panel">

                {# FORMULAIRE #}
                {{ form_start(form) }}

                    <div class="row">

                        {# Titre #}
                        <div class="col s12 input-field">
                            {{ form_errors(form.title) }}
                            {{ form_widget(form.title, {'attr': {'data-length': 60, 'pattern': '.{10,60}', 'title': 'Minimum 10 caractères, maximum 60 caractères'}}) }}
                            {{ form_label(form.title, 'Titre') }}
                        </div>

                        {# Contenu #}
                        <div class="col s12 input-field">
                            {{ form_errors(form.content) }}
                            {{ form_widget(form.content, {'attr': {'class': 'materialize-textarea', 'data-length': 10000}}) }}
                            {{ form_label(form.content, 'Contenu') }}
                        </div>

                        {# Formatage #}
                        <div class="col s12" id="text-format">
                            <button type="button" id="title" class="btn tooltipped amber darken-4" data-tooltip="[title] Sous-titre [/title]"><i class="material-icons">title</i></button>
                            <button type="button" id="bold" class="btn tooltipped amber darken-4" data-tooltip="[b] Gras [/b]"><i class="material-icons">format_bold</i></button>
                            <button type="button" id="italic" class="btn tooltipped amber darken-4" data-tooltip="[i] Italique [/i]"><i class="material-icons">format_italic</i></button>
                            <button type="button" id="link" class="btn tooltipped amber darken-4" data-tooltip="[link=adresse_du_lien.html] Nom du lien [/link]"><i class="material-icons">link</i></button>
                            <button type="button" id="image" class="btn tooltipped amber darken-4" data-tooltip="[img] adresse_de_l_image.jpg [/img]"><i class="material-icons">image</i></button>
                            <button type="button" id="video" class="btn tooltipped amber darken-4" data-tooltip="[video] https://www.youtube.com/watch?v=4labjwAQh6Q [/video]"><i class="material-icons">ondemand_video</i></button>
                        </div>

                        {# Bannière #}
                        <div class="col s12 xl6 input-field file-field">
                            {{ form_errors(form.picture) }}
                            <div class="btn hoverable yellow darken-3 waves-effect waves-light">
                                <span><i class="material-icons left">image</i>Bannière</span>
                                {{ form_widget(form.picture) }}
                            </div>
                            <div class="file-path-wrapper">
                                <input type="text" class="file-path validate readonly" placeholder="La bannière DOIT faire 1280*512px" style="cursor: not-allowed;" disabled>
                            </div>
                        </div>

                        {# Switch Publié / Non Publié #}
                        <div class="col s12 xl2">
                            <div class="switch">
                                <label>
                                    <i class="material-icons">lock</i>
                                    {{ form_widget(form.published) }}
                                    <span class="lever"></span>
                                    <i class="material-icons">check</i>
                                </label>
                            </div>
                        </div>

                        {# Submit #}
                        <div class="col s12 xl4 input-field">
                            {{ form_widget(form.submit, {'attr': {'class': 'admin-button btn yellow darken-3 waves-effect waves-light hoverable'}, 'label': 'Modifier la news'}) }}
                        </div>

                    </div>

                    {{ form_rest(form) }}
                    {{ form_end(form) }}

            </div>
        </div>

        <div class="col s12">
            <h4 class="admin-subtitle">Aperçu</h4>
        </div>

        {# Aperçu de la news #}
        <div class="row center-align">
            <div class="col s12">
            
                <div class="parallax-container">
                    <div class="parallax">
                        <img src="{{ asset('img/news/') ~ oldPicture }}" alt="{{ news.title }}">
                    </div>
                </div>

                <div class="card-panel">
                    <h3>{{ news.title }}</h3>
                    <h5>Par {{ news.author.username }}, le {{ news.date|date('d/m/Y à h:i') }}</h5>
                </div>

                <div class="card-panel">
                    {{ news.content|bbcode|nl2br }}
                </div>

        </div>
    </div>

    </div>

{% endblock %}

{% block javascripts %}
<script>
$(function() {

    $('.parallax').parallax();

    $('.tooltipped').tooltip({delay: 0});

    function insert(bbcodeIn, bbcodeOut) {
        var cursorPos = $('textarea').prop('selectionStart');
        var v = $('textarea').val();
        var text = window.getSelection().toString();
        var textBefore = v.substring(0,  cursorPos);
        var textAfter  = v.substring(cursorPos + text.length, v.length);

        $('textarea').val(textBefore + bbcodeIn + text + bbcodeOut + textAfter);
    }

    // Title
    $('#title').click(function() { insert('[title]', '[/title]'); });

    // Bold
    $('#bold').click(function() { insert('[b]', '[/b]'); });

    // Italic
    $('#italic').click(function() { insert('[i]', '[/i]'); });

    // Link
    $('#link').click(function() { insert('[link=adresse_du_lien]', '[/link]'); });

    // Image
    $('#image').click(function() { insert('[img]', '[/img]'); });

    // Video
    $('#video').click(function() { insert('[video]', '[/video]'); });

});
</script>
{% endblock %}
