{% extends "::base.html.twig" %}

{% block title %}
    Modifier une news - Administration
{% endblock %}

{% block css %}
<style>
    button {
        width: 100%;
        margin: 10px auto;
    }
    .main-title h4 {
        margin-top: 20px;
        margin-bottom: 45px;
    }
    h4 {
        margin-top: 35px;
        margin-bottom: 45px;
    }
    .switch label {
        pointer-events: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .parallax-container {
        margin-bottom: 15px;
    }
    @media (min-width: 1201px) {
        .switch label {
            position: relative;
            top: 31px;
        }
    }
</style>
{% endblock %}

{% block content %}

    <div class="row">
        
        <div class="col s12 center-align main-title">
            <h4>Modifier une news</h4>
        </div>

        <div class="col s12">
            <div class="card-panel">

                {{ form_start(form) }}

                    <div class="row">

                        {# Titre #}
                        <div class="col s12 input-field">
                            {{ form_errors(form.title) }}
                            {{ form_widget(form.title) }}
                            {{ form_label(form.title, 'Titre') }}
                        </div>

                        {# Contenu #}
                        <div class="col s12 input-field">
                            {{ form_errors(form.content) }}
                            {{ form_widget(form.content, {'attr': {'class': 'materialize-textarea'}}) }}
                            {{ form_label(form.content, 'Contenu') }}
                        </div>

                        {# Bannière #}
                        <div class="col s12 xl6 input-field file-field">
                            {{ form_errors(form.picture) }}
                            <div class="btn hoverable cyan darken-2 waves-effect waves-light">
                                <span><i class="material-icons left">image</i>Bannière</span>
                                {{ form_widget(form.picture) }}
                            </div>
                            <div class="file-path-wrapper">
                                <input type="text" class="file-path validate readonly" placeholder="La bannière DOIT faire 1280*512px" style="cursor: not-allowed;" disabled>
                            </div>
                        </div>

                        {# Switch Publié / Non Publié #}
                        <div class="col s12 xl2">
                            <div class="switch">
                                <label>
                                    <i class="material-icons">lock</i>
                                    {{ form_widget(form.published) }}
                                    <span class="lever"></span>
                                    <i class="material-icons">check</i>
                                </label>
                            </div>
                        </div>

                        {# Submit #}
                        <div class="col s12 xl4 input-field">
                            {{ form_widget(form.submit, {'attr': {'class': 'btn cyan darken-2 waves-effect waves-light hoverable'}, 'label': 'Modifier'}) }}
                        </div>

                    </div>

                    {{ form_rest(form) }}
                    {{ form_end(form) }}

            </div>
        </div>

        <div class="col s12 center-align">
            <h4>Aperçu</h4>
        </div>

        <div class="col s12 center-align">
            <div class="parallax-container">
                <div class="parallax">
                    <img src="{{ asset('img/news/') ~ oldPicture }}" alt="{{ news.title }}">
                </div>
            </div>

            <div class="card-panel center-align">
                <h3>{{ news.title }}</h3>
                <h5>Par {{ news.author.username }}, le {{ news.date|date('d/m/Y à h:i') }}</h5>
            </div>

            <div class="card-panel center-align">
                <p>{{ news.content|nl2br }}</p>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
<script>
    $(function() {
        $('.parallax').parallax();
    });
</script>
{% endblock %}
