{% extends "::base.html.twig" %}

{% block title %}
    News - Administration
{% endblock %}

{% block content %}
    
    <div class="row">

        <div class="col s12">
            <h4 class="admin-title">News</h4>
        </div>

        <div class="col s12">
            <div class="card-panel">

                {# FORMULAIRE #}
                {{ form_start(form) }}

                    <div class="row">

                        {# Titre #}
                        <div class="col s12 input-field">
                            {{ form_errors(form.title) }}
                            {{ form_widget(form.title) }}
                            {{ form_label(form.title, 'Titre') }}
                        </div>

                        {# Contenu #}
                        <div class="col s12 input-field">
                            {{ form_errors(form.content) }}
                            {{ form_widget(form.content, {'attr': {'class': 'materialize-textarea'}}) }}
                            {{ form_label(form.content, 'Contenu') }}
                        </div>

                        {# Bannière #}
                        <div class="col s12 m6 input-field file-field">
                            {{ form_errors(form.picture) }}
                            <div class="btn hoverable yellow darken-3 waves-effect waves-light">
                                <span><i class="material-icons left">image</i>Bannière</span>
                                {{ form_widget(form.picture, {'attr': {'required': 'required'}}) }}
                            </div>
                            <div class="file-path-wrapper">
                                <input type="text" class="file-path validate readonly" placeholder="La bannière DOIT faire 1280*512px" style="cursor: not-allowed;" disabled>
                            </div>
                        </div>

                        {# Submit #}
                        <div class="col s12 m6 input-field">
                            {{ form_widget(form.submit, {'attr': {'class': 'admin-button btn yellow darken-3 waves-effect waves-light hoverable'}, 'label': 'Poster une news'}) }}
                        </div>

                    </div>

                    {{ form_rest(form) }}
                    
                {{ form_end(form) }}

            </div>
        </div>

        {# LISTE DE NEWS #}
        {% for new in news %}
            <div class="col s12">
                <div class="card sticky-action hoverable">

                    {# Bannière et bouton flottant #}
                    <div class="card-image">
                        <img src="{{ asset('img/news/'~ new.picture) }}" alt="{{ new.title }}" class="activator waves-effect waves-light">
                        <a href="{{ path('admin_news_visibility', {'id': new.id}) }}" class="btn-floating btn-large halfway-fab waves-effect waves-light yellow darken-3">
                            <i class="material-icons">{% if new.published %}check{% else %}lock{% endif %}</i>
                        </a>
                    </div>

                    {# Titre #}
                    <div class="card-content">
                        <span class="card-title activator">{{ new.title }}</span>
                        <p>Par {{ new.author.username }}, le {{ new.date|date('d/m/Y à h:i') }}</p>
                    </div>

                    {# Supprimer / Modifier #}
                    <div class="card-action">
                        <a href="#modal{{ new.id }}" class="btn-flat red-text modal-trigger"><i class="material-icons left">delete</i>Supprimer</a>
                        <a href="{{ path('admin_news_edit', {'id': new.id}) }}" class="btn-flat yellow-text text-darken-3"><i class="material-icons left">edit</i>Modifier</a>
                    </div>

                    {# Fenêtre modale #}
                    <div id="modal{{ new.id }}" class="modal">
                        <div class="modal-content">
                            <h5>Êtes-vous sûr de vouloir supprimer cette news ?</h5>
                        </div>
                        <div class="modal-footer">
                            <a href="{{ path('admin_news_delete', {'id': new.id}) }}" class="waves-effect waves-red red-text btn-flat"><i class="material-icons left">delete</i>Supprimer</a>
                            <a href="#!" class="waves-effect btn-flat modal-action modal-close"><i class="material-icons left">cancel</i>Non, annuler</a>
                        </div>
                    </div>

                    {# Contenu #}
                    <div class="card-reveal center-align">
                        <span class="card-title">{{ new.title }}<i class="material-icons right">close</i></span>
                        <p>{{ new.content|nl2br }}</p>
                    </div>

                </div>
            </div>
        {% endfor %}

        {# PAGINATION #}
        <div class="col s12 center-align">
            <ul class="pagination">

                {# Page précédente #}
                {% if currentPage > 1 %}
                    <li class="waves-effect"><a href="{{ path('admin_news', {'page': currentPage - 1}) }}"><i class="material-icons left">chevron_left</i>Page précédente</a></li>
                {% endif %}

                {# Page suivante #}
                {% if currentPage != nbPages %}
                    <li class="waves-effect"><a href="{{ path('admin_news', {'page': currentPage + 1}) }}"><i class="material-icons right">chevron_right</i>Page suivante</a></li>
                {% endif %}

            </ul>
        </div>

    </div>

{% endblock %}
