{% extends "::base.html.twig" %}

{% block title %}
    Modifier un partenaire - Administration
{% endblock %}

{% block css %}
<style>
    .logo {
        max-height: 150px;
        margin-bottom: 20px;
    }
</style>
{% endblock %}

{% block content %}

    <div class="row">
        
        <div class="col s12">
            <h4 class="admin-title">Modifier un partenaire</h4>
        </div>

        <div class="col s12 center-align">
            <img src="{{ asset('img/partenaires/' ~ oldPicture) }}" alt="{{ partenaire.name }}" class="responsive-img logo">
        </div>

        <div class="col s12">
            <div class="card-panel">

                {# FORMULAIRE #}
                {{ form_start(form) }}

                    <div class="row">

                        {# Nom #}
                        <div class="col s12 xl6 input-field">
                            {{ form_errors(form.name) }}
                            {{ form_widget(form.name) }}
                            {{ form_label(form.name, 'Nom') }}
                        </div>

                        {# Adresse du site #}
                        <div class="col s12 xl6 input-field">
                            {{ form_errors(form.url) }}
                            {{ form_widget(form.url) }}
                            {{ form_label(form.url, 'Adresse du site') }}
                        </div>

                        {# Description #}
                        <div class="col s12 input-field">
                            {{ form_errors(form.content) }}
                            {{ form_widget(form.content, {'attr': {'class': 'materialize-textarea'}}) }}
                            {{ form_label(form.content, 'Description') }}
                        </div>

                        {# Facebook #}
                        <div class="col s12 l6 input-field">
                            {{ form_errors(form.facebook) }}
                            {{ form_widget(form.facebook) }}
                            {{ form_label(form.facebook, 'Facebook (url complète)') }}
                        </div>

                        {# Twitter #}
                        <div class="col s12 l6 input-field">
                            {{ form_errors(form.twitter) }}
                            {{ form_widget(form.twitter) }}
                            {{ form_label(form.twitter, 'Twitter (url complète)') }}
                        </div>

                        {# Logo #}
                        <div class="col s12 input-field file-field">
                            {{ form_errors(form.picture) }}
                            <div class="btn hoverable yellow darken-3 waves-effect waves-light">
                                <span><i class="material-icons left">image</i>Logo</span>
                                {{ form_widget(form.picture) }}
                            </div>
                            <div class="file-path-wrapper">
                                <input type="text" class="file-path validate readonly" placeholder="Le logo ne doit pas dépasser 500*150px" style="cursor: not-allowed;" disabled>
                            </div>
                        </div>

                        {# Submit #}
                        <div class="col s12 input-field">
                            {{ form_widget(form.submit, {'attr': {'class': 'admin-button btn yellow darken-3 waves-effect waves-light hoverable'}, 'label': 'Modifier le partenaire'}) }}
                        </div>

                    </div>

                    {{ form_rest(form) }}
                    
                {{ form_end(form) }}

            </div>
        </div>

    </div>

{% endblock %}
