{% extends "::base.html.twig" %}

{% block title %}
    Modifier un roster - Administration
{% endblock %}

{% block css %}
<style>
    button {
        width: 100%;
        margin: 10px auto;
    }
    h4 {
        margin-bottom: 45px;
    }
</style>
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col s12 center-align">
            <h4>Modifier un roster</h4>
        </div>

        <div class="col s12">
            <img src="{{ asset('img/rosters/'~ oldPicture) }}" alt="{{ roster.name }}" class="responsive-img">
        </div>

        <div class="col s12">
            <div class="card-panel">

                {# FORMULAIRE #}
                {{ form_start(form) }}

                    <div class="row">

                        {# Nom #}
                        <div class="col s12 m6 input-field">
                            {{ form_errors(form.name) }}
                            {{ form_widget(form.name) }}
                            {{ form_label(form.name, 'Nom du roster') }}
                        </div>

                        {# Membres #}
                        <div class="col s12 m6 input-field">
                            {{ form_errors(form.membres) }}
                            {{ form_widget(form.membres) }}
                            {{ form_label(form.membres) }}
                        </div>

                        {# Bannière #}
                        <div class="col s12 input-field file-field">
                            {{ form_errors(form.picture) }}
                            <div class="btn hoverable yellow darken-3 waves-effect waves-light">
                                <span><i class="material-icons left">image</i>Bannière</span>
                                {{ form_widget(form.picture) }}
                            </div>
                            <div class="file-path-wrapper">
                                <input type="text" class="file-path validate readonly" placeholder="L'image DOIT faire 1280*410px" style="cursor: not-allowed;" disabled>
                            </div>
                        </div>

                        {# Submit #}
                        <div class="col s12 input-field">
                            {{ form_widget(form.submit, {'attr': {'class': 'btn yellow darken-3 waves-effect waves-light hoverable'}, 'label': 'Modifier le roster'}) }}
                        </div>

                    </div>

                    {{ form_rest(form) }}
                    
                {{ form_end(form) }}

            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
<script>
$(function() {

$('select').material_select();

});
</script>
{% endblock %}
