<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}{% endblock %} - Burning Heads</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% block css %}{% endblock %}
    </head>
    <body class="grey lighten-3">

        {# HEADER #}
        <header>
            <div class="container">
                <div class="row">
                    <a href="{{ path('home') }}">
                        <div class="col s12 center-align">
                            <img src="{{ asset('img/logo-bh3.png') }}" alt="Logo BH3">
                        </div>
                    </a>
                </div>
            </div>
        </header>

        {# MENU #}
        {% block menu %}
            <nav>
                {{ render(controller("BH3Bundle:Core:menu")) }}
            </nav>
        {% endblock %}

        {# CONTENU PRINCIPAL #}
        <main class="container">
            {% block content %}
            {% endblock %}
        </main>

        {# FOOTER #}
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col s12 center-align white-text">
                        Burning Heads 2017 | Made by Valkried
                    </div>
                </div>
            </div>
        </footer>

        {# JAVASCRIPT #}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
