<!DOCTYPE html>
<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-25387675-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-25387675-1');
        </script>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}{% endblock %} - Burning Heads</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% block css %}{% endblock %}
    </head>
    <body class="grey lighten-3">

        {# HEADER #}
        <header>
            <div class="container">
                <div class="row">
                    <a href="{{ path('home') }}">
                        <div class="col s12 center-align">
                            <img src="{{ asset('img/logo-bh3.png') }}" alt="Logo BH3">
                        </div>
                    </a>
                </div>
            </div>
        </header>

        {# MENU #}
        <nav>
            {% block menu %}
                {{ render(controller("BH3Bundle:Public:menu")) }}
            {% endblock %}
        </nav>

        {# CONTENU PRINCIPAL #}
        <main class="container">
            {% block content %}
            {% endblock %}
        </main>

        {# FOOTER #}
        <footer style="display: flex;">
            <div class="" style="display: flex; flex-direction: row; justify-content: space-around; width: 100%; ">
                <div><a style="color: white; font-size: 10px;" class="modal-trigger" href="#modalMentionsLegales">Mentions légales</a></div>
                <div style="color: white;">Burning Heads 2020 | Made by Valkried</div>
            </div>
        </footer>

        <!-- Modal Structure -->
        <div id="modalMentionsLegales" class="modal">
            <div class="modal-content">
                <h4>Mentions légales</h4>
                <p>Raison Sociale : BH3 - ESPORT <br>
                    Siège Social : 7 Parc de la Scie, 76130 Mont Saint Aignan <br>
                    Téléphone : 06 71 88 09 80 <br>
                    Directeur de publication : Julien DUBUS <br>
                    Forme Juridique : Association <br>
                    <br><br>
                    Nom, raison sociale, adresse et téléphone de l'hébergeur : <br>
                    OVH <br>
                    SAS au capital de 10 059 500 € <br>
                    RCS Lille Métropole 424 761 419 00045 <br>
                    2 rue Kellermann - 59100 Roubaix - France <br>
                    Téléphone : 1007</p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">OK</a>
            </div>
        </div>

        {# JAVASCRIPT #}
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>



