<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>{% block title %}{% endblock %} - Burning Heads</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        {% block css %}{% endblock %}
    </head>
    <body class="grey lighten-3">

        <!-- HEADER -->

        <header>
            <div class="container">
                <div class="row">
                    <a href="{{ path('home') }}">
                        <div class="col s12 center-align">
                            <img src="{{ asset('img/logo-bh3.png') }}" alt="Logo BH3">
                        </div>
                    </a>
                </div>
            </div>
        </header>

        <!-- MENU -->

        {% block menu %}
            <nav>
                <div class="nav-wrapper">

                    <!-- DESKTOP -->

                    <ul id="nav-mobile" class="hide-on-med-and-down center-align">

                        <li><a href="{{ path('home') }}">NEWS</a>
                        <li class="dropdown-button" data-activates="dropdown-club" data-hover="true" data-belowOrigin="true"><a class="cursor-default">LE CLUB</a>
                        <li class="dropdown-button" data-activates="dropdown-roster" data-hover="true" data-belowOrigin="true"><a class="cursor-default">ROSTERS</a>
                        <li><a href="{{ path('partenaires') }}">PARTENAIRES</a>
                        <li><a href="{{ path('livestream') }}">LIVESTREAM</a>
                        <li><a href="{{ path('contact') }}">CONTACT</a></li>

                    </ul>

                    <!-- Dropdown Club -->
                    <ul id="dropdown-club" class="dropdown-content">

                        <li><a href="{{ path('presentation') }}">PRESENTATION</a></li>
                        <li><a href="{{ path('staff') }}">STAFF</a></li>
                        <li><a href="{{ path('palmares') }}">PALMARES</a></li>

                    </ul>

                    <!-- Dropdown Roster -->
                    <ul id="dropdown-roster" class="dropdown-content">

                        <li><a href="{{ path('roster', {'id': '1'}) }}">ROSTER 1</a></li>
                        <li><a href="{{ path('roster', {'id': '2'}) }}">ROSTER 2</a></li>
                        <li><a href="{{ path('roster', {'id': '3'}) }}">ROSTER 3</a></li>
                        <li><a href="{{ path('roster', {'id': '4'}) }}">JOUEURS LOISIR</a></li>

                    </ul>

                    <!-- MOBILE -->

                    <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>

                    <ul id="mobile" class="side-nav">
                    
                        <li><a href="{{ path('home') }}">NEWS</a></li>
                        <li><a href="{{ path('presentation') }}">PRESENTATION</a></li>
                        <li><a href="{{ path('staff') }}">STAFF</a></li>
                        <li><a href="{{ path('palmares') }}">PALMARES</a></li>

                        <li><a href="{{ path('roster', {'id': '1'}) }}"><i class="material-icons left">group</i>ROSTER 1</a></li>
                        <li><a href="{{ path('roster', {'id': '2'}) }}"><i class="material-icons left">group</i>ROSTER 2</a></li>
                        <li><a href="{{ path('roster', {'id': '3'}) }}"><i class="material-icons left">group</i>ROSTER 3</a></li>
                        <li><a href="{{ path('roster', {'id': '4'}) }}"><i class="material-icons left">group</i>JOUEURS LOISIR</a></li>

                        <li><a href="{{ path('partenaires') }}">PARTENAIRES</a></li>
                        <li><a href="{{ path('livestream') }}">LIVESTREAM</a></li>
                        <li><a href="{{ path('contact') }}">CONTACT</a></li>

                    </ul>

                </div>
            </nav>
        {% endblock %}

        <!-- CONTENU PRINCIPAL -->

        <main class="container">
            {% block content %}
            {% endblock %}
        </main>

        <!-- FOOTER -->

        <footer>
            <div class="container">
                <div class="row">
                    <div class="col s12 center-align white-text">
                        Burning Heads 2017 | Made by Valkried
                    </div>
                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT -->

        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
        <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
