{% extends "::base.html.twig" %}

{% block title %}Contact{% endblock %}

{% block css %}
<style>
    #introduction {
        margin: 30px auto;
    }
    button {
        width: 100%;
    }
    .btn-large:hover {
        background-color: #f44336 !important;
    }
</style>
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col s12">
            <img src="{{ asset('img/contact/contact.jpg') }}" alt="" class="responsive-img">
        </div>

        <div id="introduction" class="col s12 center-align">
            <p>
                Pour une candidature individuelle, vous pouvez prendre directement contact avec le capitaine du roster souhaité.<br>
                Pour une intégration au sein du staff, d’un roster complet ou pour toute autre demande, veuillez nous contacter via le formulaire ci dessous.
            </p>
            <p>
                Nous étudierons non seulement votre niveau de jeu, mais également votre comportement ainsi que votre motivation.<br>
                N’hésitez pas à tenter l’aventure avec nous !
            </p>
        </div>

        <div class="col s12">
            <div class="card-panel">

                {{ form_start(contactForm) }}

                <div class="row">

                    {# Nom #}
                    <div class="col s12 m6 l4 input-field">
                        {{ form_widget(contactForm.name) }}
                        {{ form_label(contactForm.name, 'Entrez votre nom') }}
                        {{ form_errors(contactForm.name) }}
                    </div>

                    {# Email #}
                    <div class="col s12 m6 l4 input-field">
                        {{ form_widget(contactForm.email) }}
                        {{ form_label(contactForm.email, 'Entrez votre adresse email') }}
                        {{ form_errors(contactForm.email) }}
                    </div>

                    {# Sujet #}
                    <div class="col s12 m6 l4 input-field">
                        {{ form_widget(contactForm.subject) }}
                        {{ form_label(contactForm.subject, 'Sujet de votre message') }}
                        {{ form_errors(contactForm.subject) }}
                    </div>

                    {# Contenu #}
                    <div class="col s12 input-field">
                        {{ form_widget(contactForm.content, {'attr': {'class': 'materialize-textarea'}}) }}
                        {{ form_label(contactForm.content, 'Entrez votre message') }}
                        {{ form_errors(contactForm.content) }}
                    </div>

                    {# Envoyer #}
                    <div class="col s12 input-field">
                        {{ form_widget(contactForm.submit, {'attr': {'class': 'btn-large waves-effect waves-light hoverable red darken-4'}, 'label': 'Envoyer'}) }}
                    </div>

                </div>

                {{ form_rest(contactForm) }}

                {{ form_end(contactForm) }}
                
            </div>
        </div>

    </div>

{% endblock %}
