{% extends "::base.html.twig" %}

{% block title %}Contact{% endblock %}

{% block css %}
<style>
    #introduction {
        margin: 15px auto;
    }
    button {
        width: 100%;
        margin: 10px auto;
    }
</style>
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col s12">
            <img src="{{ asset('img/contact/contact.jpg') }}" alt="" class="responsive-img">
        </div>

        <div id="introduction" class="col s12 center-align">
            <p>
                Pour une candidature individuelle, nous vous invitons à prendre contact avec le capitaine du roster concerné via notre <a href="https://discordapp.com/invite/kxjDHG9" target="_blank">Discord</a>. <br />
                Pour une intégration au sein du staff ou pour toute autre demande, veuillez nous contacter via le formulaire ci dessous. 
            </p>
            <p>
                Nous étudierons non seulement votre niveau de jeu, mais également votre comportement ainsi que votre motivation. <br />
                N’hésitez pas à tenter l’aventure avec nous !
            </p>
        </div>

        {% if errors is defined %}
            {% for error in errors %}
                <div class="col s12">
                    <div class="card-panel red darken-4 white-text center-align">
                        <p>{{ error.message }}</p>
                    </div>
                </div>
            {% endfor %}
        {% endif %}

        <div class="col s12">
            <div class="card-panel">

                {{ form_start(contactForm) }}

                <div class="row">

                    {# Nom #}
                    <div class="col s12 m6 l4 input-field">
                        {{ form_errors(contactForm.name) }}
                        {{ form_widget(contactForm.name, {'attr': {'data-length': 50}}) }}
                        {{ form_label(contactForm.name, 'Entrez votre nom') }}
                    </div>

                    {# Email #}
                    <div class="col s12 m6 l4 input-field">
                        {{ form_errors(contactForm.email) }}
                        {{ form_widget(contactForm.email, {'attr': {'data-length': 255}}) }}
                        {{ form_label(contactForm.email, 'Entrez votre adresse email') }}
                    </div>

                    {# Sujet #}
                    <div class="col s12 m6 l4 input-field">
                        {{ form_errors(contactForm.subject) }}
                        {{ form_widget(contactForm.subject, {'attr': {'data-length': 255}}) }}
                        {{ form_label(contactForm.subject, 'Sujet de votre message') }}
                    </div>

                    {# Contenu #}
                    <div class="col s12 input-field">
                        {{ form_errors(contactForm.content) }}
                        {{ form_widget(contactForm.content, {'attr': {'class': 'materialize-textarea', 'data-length': 1000}}) }}
                        {{ form_label(contactForm.content, 'Entrez votre message (n\'oubliez pas d\'indiquer votre ID Discord si vous en avez un)') }}
                    </div>

                    {# Envoyer #}
                    <div class="col s12 input-field">
                        {{ form_widget(contactForm.submit, {'attr': {'class': 'btn-large waves-effect waves-light hoverable yellow darken-3'}, 'label': 'Envoyer'}) }}
                    </div>

                </div>

                {{ form_rest(contactForm) }}

                {{ form_end(contactForm) }}

            </div>
        </div>

    </div>

{% endblock %}
