{% extends "::base.html.twig" %}

{% block title %}News{% endblock %}

{% block css %}
<style>
    #slider {
        margin-bottom: 15px;
    }
    .pagination {
        margin-bottom: 0px;
        margin-top: 25px;
    }
    .social-buttons {
        border-radius: 15px;
    }
    #aside {
        padding-left: 12px;
    }
    #twitter {
        margin-top: 17px;
    }
    .flashbag {
        margin-top: 0;
    }
</style>
{% endblock %}

{% block content %}

    <div class="row">

        <section class="col s12 l9">
            <div class="row">

                <div class="articles">

                    {# Flashbag de confirmation (email) #}
                    {% for message in app.session.flashbag.get('info') %}
                        <div class="col s12">
                            <div class="card-panel blue lighten-1 white-text center-align flashbag">
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}

                    {# SLIDER #}
                    <div class="col s12 hide-on-small-only">
                        <div id="slider" class="carousel carousel-slider center-align hoverable">
                            {% for new in news %}
                                <a href="{{ path('news', {'slug': new.slug}) }}" class="carousel-item white-text" style="background: url('{{ asset('img/news/') ~ new.picture }}') center no-repeat; background-size: 1000px;">
                                    <h2>{{ new.title }}</h2>
                                </a>
                            {% endfor %}
                        </div>
                    </div>

                    {# NEWS #}
                    {% for new in news %}
                        <article class="col s12">
                            <a href="{{ path('news', {'slug': new.slug}) }}">
                                <div class="card-panel hoverable">
                                    <h4 class="black-text">{{ new.title }}</h4>
                                    <h6 class="red-text text-darken-4">Posté par {{ new.author.username }}</h6>
                                    <p class="black-text">{{ new.content|striptags|slice(0, 350) }}...</p>
                                </div>
                            </a>
                        </article>
                    {% endfor %}

                </div>

                {# PAGINATION #}
                <div class="col s12 center-align">
                    <ul class="pagination">

                        {# Page précédente #}
                        {% if currentPage > 1 %}
                            <li class="waves-effect"><a href="{{ path('home', {'page': currentPage - 1}) }}"><i class="material-icons left">chevron_left</i>Page précédente</a></li>
                        {% endif %}

                        {# Page suivante #}
                        {% if currentPage != nbPages %}
                            <li class="waves-effect"><a href="{{ path('home', {'page': currentPage + 1}) }}"><i class="material-icons right">chevron_right</i>Page suivante</a></li>
                        {% endif %}

                    </ul>
                </div>

            </div>
        </section>

        {# BARRE LATERALE #}
        <aside id="aside" class="col s3 hide-on-med-and-down">
            <div class="row">

                <div class="col s6 xl3">
                    <a href="https://discordapp.com/invite/kxjDHG9" target="_blank">
                        <img src="{{ asset('img/social/discord.png') }}" alt="Discord" class="hoverable responsive-img social-buttons">
                    </a>
                </div>
                <div class="col s6 xl3">
                    <a href="https://www.facebook.com/BH3.fr" target="_blank">
                        <img src="{{ asset('img/social/facebook.png') }}" alt="Facebook" class="hoverable responsive-img social-buttons">
                    </a>
                </div>
                <div class="col s6 xl3">
                    <a href="https://www.instagram.com/burning.heads" target="_blank">
                        <img src="{{ asset('img/social/instagram.png') }}" alt="Instagram" class="hoverable responsive-img social-buttons">
                    </a>
                </div>
                <div class="col s6 xl3">
                    <a href="https://go.twitch.tv/bh3_esport" target="_blank">
                        <img src="{{ asset('img/social/twitch.png') }}" alt="Twitch" class="hoverable responsive-img social-buttons">
                    </a>
                </div>

                <div id="twitter" class="col s12">
                    <a class="twitter-timeline" data-lang="fr" data-height="600" data-theme="dark" data-link-color="#b71c1c" href="https://twitter.com/BH3_Esport">Burning Heads</a>
                </div>

            </div>
        </aside>

    </div>

{% endblock %}

{% block javascripts %}
<script>
    $(function() {

        $('.carousel-slider').carousel({fullWidth: true, indicators: true});

        setInterval(function() {
            $('.carousel.carousel-slider').carousel('next');
        }, 4000);

    });
</script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
