{% extends "::base.html.twig" %}

{% block title %}News 1{% endblock %}

{% block css %}
<style>
    .parallax-container {
        margin-bottom: 15px;
    }
</style>
{% endblock %}

{% block content %}

    <div class="row center-align">
        <div class="col s12">
        
            <div class="parallax-container">
                <div class="parallax">
                    <img src="{{ asset('img/news/') ~ news.picture }}" alt="{{ news.title }}">
                </div>
            </div>

            <div class="card-panel">
                <h3>{{ news.title }}</h3>
                <h5>Par {{ news.author.username }}, le {{ news.date|date('d/m/Y à h:i') }}</h5>
            </div>

            <div class="card-panel">
                <p>{{ news.content|nl2br }}</p>
            </div>

        </div>
    </div>

{% endblock %}

{% block javascripts %}
<script>
    $(function() {
        $('.parallax').parallax();
    });
</script>
{% endblock %}
