{% extends "::base.html.twig" %}

{% block title %}Palmarès{% endblock %}

{% block css %}
<style>
    table {
        margin-top: 15px;
        margin-bottom: 40px;
    }
</style>
{% endblock %}

{% block content %}

    <img src="{{ asset('img/palmares/banniere-palmares.jpg') }}" alt="" class="responsive-img">

    <table class="striped highlight bordered responsive-table">
        <thead>
            <tr>
                <th>Jeu</th>
                <th>Section</th>
                <th>Event</th>
                <th>Localisation</th>
                <th>Rang</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>

            {% for palmares in palmares %}
                <tr>
                    <td><img src="{{ asset('img/palmares/'~ palmares.picture) }}" alt="{{ palmares.game }}"></td>
                    <td>{{ palmares.roster }}</td>
                    <td>{{ palmares.event }}</td>
                    <td>{{ palmares.localisation }}</td>
                    <td>{{ palmares.ranking }}</td>
                    <td>{{ palmares.date }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}
