{% extends "::base.html.twig" %}

{% block title %}Palmarès{% endblock %}

{% block css %}
<style>
    table {
        margin-top: 15px;
        margin-bottom: 40px;
    }
</style>
{% endblock %}

{% block content %}

    <img src="{{ asset('img/palmares/banniere-palmares.jpg') }}" alt="" class="responsive-img">

    <table class="striped highlight bordered responsive-table">
        <thead>
            <tr>
                <th>Jeu</th>
                <th>Roster</th>
                <th>Event</th>
                <th>Localisation</th>
                <th>Rang</th>
                <th>Date</th>
            </tr>
        </thead>

        <tbody>

            {% for palmares in palmares %}
                <tr>
                    <td><img src="{{ asset('img/palmares/'~ palmares.picture) }}" alt="{{ palmares.game }}"></td>
                    <td>{{ palmares.roster }}</td>
                    <td style="display: flex; align-items: center;"><img style="margin-right: 5px !important;" src="{{
                        palmares.geography == 'EU' ?
                        asset('img/palmares/eu_zone.png')
                        :
                        palmares.geography == 'WORLD' ?
                        asset('img/palmares/world_zone.png')
                        :
                        palmares.geography == 'UK' ?
                        asset('img/palmares/uk_zone.png')
                        :
                        palmares.geography == 'JAP' ?
                        asset('img/palmares/jap_zone.png')
                        :
                        palmares.geography == 'USA' ?
                        asset('img/palmares/usa_zone.png')
                        :
                        asset('img/palmares/fr_zone.png')
                        }}" width="24px"><span>{{ palmares.event }}</span></td>

                    <td>{{ palmares.localisation }}</td>
                    <td>{{ palmares.ranking }}</td>
                    <td>{{ palmares.applyMonthEquality(palmares.datetime) }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>

{% endblock %}


