{% extends "::base.html.twig" %}

{% block title %}Partenaires{% endblock %}

{% block css %}
<style>
    .logo {
        max-height: 100px;
    }
    .social img {
        max-width: 50px;
    }
    .no-margin {
        margin: 0;
    }
</style>
{% endblock %}

{% block content %}

<div class="row center-align">

    {% for partenaire in partenaires %}
        <div class="col s12">
            <div class="card-panel hoverable">
                <div class="row no-margin">
                
                    {# Logo #}
                    <div class="col s12">
                        <a href="{{ partenaire.url }}" target="_blank">
                            <img src="{{ asset('img/partenaires/'~ partenaire.picture) }}" alt="{{ partenaire.name }}" class="responsive-img logo">
                        </a>
                    </div>

                    {# Présentation #}
                    <div class="col s10 offset-s1">
                        <p>{{ partenaire.content|nl2br }}</p>
                    </div>

                    {# Réseaux sociaux #}
                    {% if partenaire.twitter or partenaire.facebook %}
                        <div class="col s12 social">
                            {% if partenaire.twitter %}
                            <a href="{{ partenaire.twitter }}" target="_blank">
                                <img src="{{ asset('img/social/twitter.png') }}" alt="Twitter" class="responsive-img">
                            </a>
                            {% endif %}
                            {% if partenaire.facebook %}
                            <a href="{{ partenaire.facebook }}" target="_blank">
                                <img src="{{ asset('img/social/facebook.png') }}" alt="Facebook" class="responsive-img">
                            </a>
                            {% endif %}
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}
