{% extends "::base.html.twig" %}

{% block title %}Partenaires{% endblock %}

{% block css %}
<style>
    .logo {
        margin-bottom: 25px;
    }

    @media only screen and (min-width: 601px) {
        .card-panel .row {
            display: flex;
            align-items: center;
        }
        .logo {
            margin-bottom: 0px;
        }
    }
</style>
{% endblock %}

{% block content %}

<div class="row center-align">

    {% for partenaire in partenaires %}
        <div class="col s12">
            <div class="card-panel hoverable">
                <div class="row">
                
                    {# Logo #}
                    <div class="col s8 offset-s2 m3 xl2">
                        <a href="{{ partenaire.url }}" target="_blank">
                            <img src="{{ asset('img/partenaires/'~ partenaire.picture) }}" alt="{{ partenaire.name }}" class="responsive-img logo">
                        </a>
                    </div>

                    {# Présentation #}
                    <div class="col s12 m6 xl8">
                        <p>{{ partenaire.content|nl2br }}</p>
                    </div>

                    <div class="col m3 xl2 hide-on-small-only">
                        {% if partenaire.twitter %}
                            {# Twitter #}
                            <a href="{{ partenaire.twitter }}" target="_blank">
                                <img src="{{ asset('img/social/twitter.png') }}" alt="Twitter" class="responsive-img">
                            </a>
                        {% else %}
                            {# Facebook #}
                            <a href="{{ partenaire.facebook }}" target="_blank">
                                <img src="{{ asset('img/social/facebook.png') }}" alt="Facebook" class="responsive-img">
                            </a>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}
