{% extends "::base.html.twig" %}

{% block title %}Roster{% endblock %}

{% block css %}
<style>
    .icon {
        padding: 0 5px;
    }
    .profil {
        max-width: 150px;
        width: 100%;
    }
    .outer-card {
        display: flex;
        align-items: center;
        height: 180px;
        margin: 0;
    }
    .inner-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 150px;
    }
    h5, h6 {
        margin: 0;
    }
</style>
{% endblock %}

{% block content %}

    <div class="row center-align">

        {% for roster in roster %}

            {# Bannière du roster #}
            <div class="col s12">
                <img src="{{ asset('img/rosters/'~ roster.picture) }}" alt="{{ roster.name }}" class="responsive-img">
            </div>
            
            {% for membre in roster.membres %}
                <div class="col s12 m6 xl4">
                    <div class="card-panel hoverable">
                        <div class="row outer-card">

                            {# Photo de profil #}
                            <div class="col s6">
                                <img src="{{ asset('img/membres/'~ membre.picture) }}" alt="{{ membre.pseudo }}" class="profil">
                            </div>

                            <div class="col s6 inner-card">

                                {# Pseudo #}
                                <h5 class="red-text text-darken-4">{{ membre.pseudo }}</h5>

                                {# Prénom #}
                                <h6>{{ membre.name }}</h6>

                                <div>
                                    {# Plateforme #}
                                    {% if membre.profile %}
                                        <a href="{{ membre.profile }}" target="_blank">
                                            <img src="{{ asset('img/plateforme/'~ membre.plateforme ~'.png') }}" alt="{{ membre.plateforme }}" class="icon">
                                        </a>
                                    {% else %}
                                        <img src="{{ asset('img/plateforme/'~ membre.plateforme ~'.png') }}" alt="{{ membre.plateforme }}" class="icon">
                                    {% endif %}

                                    {# Twitter #}
                                    {% if membre.twitter %}
                                        <a href="https://www.twitter.com/{{ membre.twitter }}" target="_blank">
                                            <img src="{{ asset('img/twitter.png') }}" alt="Twitter" class="icon">
                                        </a>
                                    {% endif %}
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            {% endfor %}

        {% endfor %}

    </div>

{% endblock %}
